<%- include layouts/header.ejs %>


    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
          <tbody>

              <% tickets.forEach(function(data, index) { %>              
                <tr>
                  <th scope="row"><%= data.Nticket %></th>
                  <td><%= data.Nombre %></td>
                  <td><%= data.Correo %></td>
                  <td><%= data.Bum %></td>
                  <td><%= data.Incidente %></td>
                  <td><%= data.Causa %></td>
                  <td><%= data.Fecha %></td>
                </tr>
          
                <% }); %>
    </div>
    <%- include layouts/footer.ejs %>